
ul li {
    margin-right: 40px;
    list-style: none;
}
body {
    background-color: rgb(248, 233, 206);
}
#github{
    display: block;
    padding-top: 25px;
}
#index{
    display: block;
    padding-bottom: 20px;
}
.wrapper {
    width: 50%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: auto;
    border: 3px;
    box-shadow: 8px 8px 6px 6px #888888;
}
a {
    display: block;
    padding-bottom: 15px;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
a:hover {
    color: darkslategrey;
    font-size: 20px;
    transition: 0.2s;
}
img {
    width: 50%;
    height: 50%;
}